* {
    margin: 0;
    padding: 0;
}

#container {
    background: url("../../images/Portfolio-pic.png") center/cover no-repeat;
    height: 100vh;
    color: $primary-font-color;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 5fr 3fr 1fr;
    grid-template-areas: 
    "topnav"
    "home"
    "end-area"
    "contact";    
    padding: .5em;
    @include font-settings();
    @include big {
        font-size: 1.25em;
    }
}

#home {
   grid-area: home;
    
}

.nav-links{
  @include font-settings(); 
  
}
.nav-links:active{
    color: white;
}

.icon {
    width: 30px;
    height: auto;
    padding: .25em;
}

#empty-space {
    grid-area: empty-space;
}


#intro {
    grid-area: intro;
    // padding-top: 20px;
    font-size: 30px;
    align-items: center;
}

#about-me{
    grid-area: about-me;
    padding-top: 60px;
    align-items: baseline;
}

#topnav{
    background-color: black;
    height: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: topnav;
}


#end{
    color: $primary-font-color;
    padding: .5em;
    grid-area: end-area;
}


.notes-app {
    width: 300px;
    height: auto;
    padding: 1.25em;

}

#contact {
    grid-area: contact;
    align-self: end;
}
