* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

#container {
    background: url("../../../docs/Portfolio-pic.png") center/cover no-repeat;
    height: 100%;
    color: $primary-font-color;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 3fr 4fr 1fr;
    grid-template-areas: 
    "topnav"
    "home"
    "end-area"
    "contact";    
    padding: 1em;
    @include font-settings();
    @include big {
        font-size: 1.25em;
        padding: 1em;
        grid-template-rows: .5fr 2fr 4fr .5fr;
    }
}

#home {
   grid-area: home;
    
}

.nav-links{
  @include font-settings(); 
  
}
.nav-links:active{
    color: white;
}

.icon {
    width: 30px;
    height: auto;
    padding: .25em;
}

#empty-space {
    grid-area: empty-space;
}


#intro {
    grid-area: intro;
    font-size: 30px;
    align-items: center;
}

#about-me{
    grid-area: about-me;
    padding-top: 4em;
    align-items: baseline;
}

#About-Me-header{
    font-size: 1.2em;
}

#Projects-header{
    font-size: 18px;
}

#topnav{
    background-color: black;
    height: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: topnav;
    a:link {
        text-decoration: none;
      }
      
      a:visited {
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }
      
      a:active {
        text-decoration: underline;
      }
}


#end{
    color: $primary-font-color;
    grid-area: end-area;
    padding-top: 1em;
}


.notes-app {
    width: 100%;
    height: auto;
    padding-top: 1.25em;
    @include big { 
        // height: 300px;
        // width: 500px;
    }

}

#contact {
    grid-area: contact;
    align-self: end;
}
